openapi: 3.1.0
info:
  title: NitroPing API
  version: 0.1.0
  description: Tenant-isolated feedback collection API.
servers:
  - url: https://nitroping.dev/api/v1
security: []
paths:
  /dashboard/session:
    get:
      summary: Return the authenticated dashboard identity
      responses: { '200': { description: Session identity }, '401': { $ref: '#/components/responses/Error' }, '503': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations:
    get:
      summary: List organizations for the Access identity
      responses: { '200': { description: Organizations }, '401': { $ref: '#/components/responses/Error' }, '503': { $ref: '#/components/responses/Error' } }
    post:
      summary: Create an organization for the Access identity
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created }, '409': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations/{organizationId}:
    delete:
      summary: Delete and anonymize an organization and queue its R2 cleanup
      parameters: [{ name: organizationId, in: path, required: true, schema: { type: string } }]
      responses: { '204': { description: Deleted }, '403': { $ref: '#/components/responses/Error' }, '503': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations/{organizationId}/projects:
    post:
      summary: Create a project and issue its initial keys
      parameters: [{ name: organizationId, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created with one-time public/server keys }, '403': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations/{organizationId}/members:
    get:
      summary: List organization members
      parameters: [{ name: organizationId, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Members }, '403': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations/{organizationId}/members/{userId}:
    delete:
      summary: Remove an organization member
      parameters: [{ name: organizationId, in: path, required: true, schema: { type: string } }, { name: userId, in: path, required: true, schema: { type: string } }]
      responses: { '204': { description: Removed }, '403': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations/{organizationId}/invites:
    post:
      summary: Invite a user to an organization
      parameters: [{ name: organizationId, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [email], properties: { email: { type: string, format: email }, role: { type: string, enum: [admin, member, moderator, viewer, billing_admin] } } } } } }
      responses: { '202': { description: Invitation queued }, '409': { $ref: '#/components/responses/Error' } }
  /dashboard/invites/{token}/accept:
    post:
      summary: Accept an organization invitation for the authenticated Access identity
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Accepted }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects:
    get:
      summary: List projects for the Access identity
      responses: { '200': { description: Projects }, '503': { $ref: '#/components/responses/Error' } }
    post:
      summary: Create a project in an organization
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [organizationId, name], properties: { organizationId: { type: string }, name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created with one-time public/server keys }, '403': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}:
    patch:
      summary: Update a project name or slug
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '200': { description: Updated project }, '400': { $ref: '#/components/responses/Error' }, '409': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback:
    parameters: [{ $ref: '#/components/parameters/ProjectId' }]
    get:
      summary: List feedback
      parameters: [{ $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/FeedbackQuery' }, { $ref: '#/components/parameters/FeedbackStatus' }, { $ref: '#/components/parameters/FeedbackType' }, { $ref: '#/components/parameters/FeedbackPriority' }]
      responses: { '200': { $ref: '#/components/responses/FeedbackList' }, '401': { $ref: '#/components/responses/Error' } }
    post:
      summary: Create feedback anonymously
      parameters: [{ $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateFeedback' } } } }
      responses: { '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Feedback' } } } }, '400': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback/{feedbackId}:
    parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }]
    get:
      summary: Get feedback
      parameters: [{ $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Feedback, content: { application/json: { schema: { $ref: '#/components/schemas/Feedback' } } } }, '404': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback/{feedbackId}/comments:
    get:
      summary: List public comments
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Public comments }, '404': { $ref: '#/components/responses/Error' } }
    post:
      summary: Add a public comment
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string, minLength: 1, maxLength: 10000 } } } } } }
      responses: { '201': { description: Created }, '404': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback/{feedbackId}/vote:
    post:
      summary: Vote for feedback
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Vote count } }
  /projects/{projectId}/public/categories:
    get:
      summary: List public categories
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Categories } }
  /projects/{projectId}/public/config:
    get:
      summary: Read the safe public widget configuration
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/IfNoneMatch' }]
      responses: { '200': { description: Public widget configuration }, '304': { description: Configuration unchanged }, '401': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/public/roadmap:
    get:
      summary: List public roadmap items
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Roadmap } }
  /projects/{projectId}/public/changelog:
    get:
      summary: List published changelog items
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Changelog } }
  /projects/{projectId}/uploads/initiate:
    post:
      summary: Initiate a private attachment upload
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [contentType, size], properties: { feedbackId: { type: string }, contentType: { type: string }, size: { type: integer, minimum: 1 } } } } } }
      responses: { '201': { description: Upload token }, '413': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/attachments/{attachmentId}:
    get:
      summary: Download a private attachment through authenticated dashboard access
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: attachmentId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Attachment bytes }, '404': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/events:
    get:
      summary: Project realtime WebSocket stream
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '101': { description: Switching Protocols }, '503': { $ref: '#/components/responses/Error' } }
  /follow-up/{token}:
    get:
      summary: Read feedback status through a scoped magic link
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Feedback and public comments }, '404': { $ref: '#/components/responses/Error' } }
    delete:
      summary: Delete the feedback owned by the scoped magic link
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Feedback deleted }, '404': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/follow-up/request:
    post:
      summary: Request a private follow-up link by email
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [feedbackId, email], properties: { feedbackId: { type: string }, email: { type: string, format: email } } } } } }
      responses: { '202': { description: Follow-up email accepted }, '400': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/feedback:
    get:
      summary: List feedback for an authenticated dashboard project
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/FeedbackQuery' }, { $ref: '#/components/parameters/FeedbackStatus' }, { $ref: '#/components/parameters/FeedbackType' }, { $ref: '#/components/parameters/FeedbackPriority' }]
      responses: { '200': { $ref: '#/components/responses/FeedbackList' }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/export:
    get:
      summary: Export project feedback data
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: JSON export }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/feedback/{feedbackId}/anonymize:
    post:
      summary: Anonymize feedback and public comments
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Anonymized }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/moderation:
    get:
      summary: List pending moderation events for a project
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      responses: { '200': { description: Pending moderation events }, '401': { $ref: '#/components/responses/Error' } }
    post:
      summary: Decide a pending moderation event
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [feedbackId, outcome], properties: { feedbackId: { type: string }, outcome: { type: string, enum: [approved, rejected, spam] } } } } } }
      responses: { '200': { description: Moderation decision }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/audit-logs:
    get:
      summary: List project audit log entries
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }]
      responses: { '200': { description: Audit log entries }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/settings:
    get:
      summary: Read project widget, metadata, origin, and retention settings
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Project settings }, '401': { $ref: '#/components/responses/Error' } }
    patch:
      summary: Update project widget, metadata, origin, and retention settings
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Updated settings }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/custom-domain:
    get:
      summary: Read the project's custom domain
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      responses: { '200': { description: Custom domain or null }, '401': { $ref: '#/components/responses/Error' } }
    post:
      summary: Provision a Business custom domain through Cloudflare for SaaS
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [hostname], properties: { hostname: { type: string, format: hostname } } } } } }
      responses: { '201': { description: Provisioned custom domain and validation records }, '400': { $ref: '#/components/responses/Error' }, '402': { $ref: '#/components/responses/Error' }, '503': { $ref: '#/components/responses/Error' } }
    delete:
      summary: Remove the project's custom domain
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      responses: { '204': { description: Removed }, '404': { $ref: '#/components/responses/Error' }, '502': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/notifications:
    get:
      summary: Read notification preferences for the authenticated team member
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      responses: { '200': { description: Notification preferences }, '401': { $ref: '#/components/responses/Error' } }
    patch:
      summary: Update a notification preference
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [eventType, enabled], properties: { eventType: { type: string, enum: [feedback.created, feedback.updated, feedback.replied, moderation.created] }, enabled: { type: boolean } } } } } }
      responses: { '200': { description: Updated preference }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/usage:
    get:
      summary: Read plan usage and entitlement limits
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Usage and limits }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/analytics:
    get:
      summary: Read aggregated project feedback analytics
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Aggregated analytics }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/api-keys:
    get:
      summary: List project API key metadata
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: API key metadata } }
    post:
      summary: Create and return a project API key once
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [kind], properties: { kind: { type: string, enum: [public, server] }, label: { type: string } } } } } }
      responses: { '201': { description: Created with one-time key }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/api-keys/{keyId}:
    delete:
      summary: Revoke a project API key
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: keyId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '204': { description: Revoked }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/billing:
    get:
      summary: Read the organization billing subscription
      parameters: [{ name: projectId, in: query, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Billing subscription }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/billing/checkout:
    post:
      summary: Create a Stripe subscription checkout session
      parameters: [{ name: projectId, in: query, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [plan], properties: { plan: { type: string, enum: [pro, business] } } } } } }
      responses: { '201': { description: Checkout session }, '503': { $ref: '#/components/responses/Error' } }
  /webhooks/stripe:
    post:
      summary: Receive a signed Stripe subscription event
      parameters: [{ name: Stripe-Signature, in: header, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object } } } }
      responses: { '200': { description: Event accepted }, '400': { $ref: '#/components/responses/Error' }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/categories:
    get:
      summary: List project categories
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Categories } }
    post:
      summary: Create a project category
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created }, '409': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/categories/{categoryId}:
    get:
      summary: Read one project category
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: categoryId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Category }, '404': { $ref: '#/components/responses/Error' } }
    patch:
      summary: Update a project category
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: categoryId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '200': { description: Updated }, '404': { $ref: '#/components/responses/Error' }, '409': { $ref: '#/components/responses/Error' } }
    delete:
      summary: Delete a project category and clear category links
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: categoryId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '204': { description: Deleted }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/roadmap:
    get:
      summary: List roadmap items
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Roadmap items } }
    post:
      summary: Create a roadmap item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '201': { description: Created }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/roadmap/{id}:
    patch:
      summary: Update a roadmap item
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Updated }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/roadmap:
    get:
      summary: List roadmap items using a project query parameter
      parameters: [{ $ref: '#/components/parameters/DashboardProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Roadmap items } }
    post:
      summary: Create a roadmap item using a project query parameter
      parameters: [{ $ref: '#/components/parameters/DashboardProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [title], properties: { title: { type: string }, body: { type: string }, status: { type: string, enum: [planned, in_progress, completed] } } } } } }
      responses: { '201': { description: Created }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/roadmap/{roadmapId}/feedback:
    get:
      summary: List feedback linked to a roadmap item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: roadmapId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Linked feedback }, '404': { $ref: '#/components/responses/Error' } }
    post:
      summary: Link feedback to a roadmap item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: roadmapId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [feedbackId], properties: { feedbackId: { type: string } } } } } }
      responses: { '201': { description: Linked }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/roadmap/{roadmapId}/feedback/{feedbackId}:
    delete:
      summary: Unlink feedback from a roadmap item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: roadmapId, in: path, required: true, schema: { type: string } }, { name: feedbackId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '204': { description: Unlinked }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/changelog:
    get:
      summary: List changelog items
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Changelog items } }
    post:
      summary: Create a changelog item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '201': { description: Created }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/changelog:
    get:
      summary: List changelog items using a project query parameter
      parameters: [{ $ref: '#/components/parameters/DashboardProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Changelog items } }
    post:
      summary: Create a changelog item using a project query parameter
      parameters: [{ $ref: '#/components/parameters/DashboardProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [title, body], properties: { title: { type: string }, body: { type: string }, publishedAt: { type: string, format: date-time, nullable: true } } } } } }
      responses: { '201': { description: Created }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/changelog/{changelogId}/feedback:
    get:
      summary: List feedback linked to a changelog item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: changelogId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Linked feedback }, '404': { $ref: '#/components/responses/Error' } }
    post:
      summary: Link feedback to a changelog item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: changelogId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [feedbackId], properties: { feedbackId: { type: string } } } } } }
      responses: { '201': { description: Linked }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/changelog/{changelogId}/feedback/{feedbackId}:
    delete:
      summary: Unlink feedback from a changelog item
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: changelogId, in: path, required: true, schema: { type: string } }, { name: feedbackId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '204': { description: Unlinked }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/webhooks:
    get:
      summary: List project webhooks
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Webhooks }, '401': { $ref: '#/components/responses/Error' } }
    post:
      summary: Create a signed project webhook
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [url], properties: { url: { type: string, format: uri }, events: { type: array, items: { type: string, enum: [feedback.created, feedback.updated, feedback.replied] } } } } } } }
      responses: { '201': { description: Created with one-time signing secret }, '400': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/webhooks/{webhookId}:
    delete:
      summary: Disable a project webhook
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { name: webhookId, in: path, required: true, schema: { type: string } }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '204': { description: Disabled }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}:
    get:
      summary: Get feedback with comments and status history
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Feedback detail }, '404': { $ref: '#/components/responses/Error' } }
    patch:
      summary: Update editable feedback fields
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/DashboardProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { type: { type: string, enum: [complaint, bug, suggestion, feature_request] }, priority: { type: string, enum: [low, normal, high, urgent] }, categoryId: { type: string, nullable: true }, title: { type: string }, body: { type: string }, email: { type: string, format: email, nullable: true } } } } } }
      responses: { '200': { description: Updated feedback }, '400': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}/assign:
    post:
      summary: Assign feedback to an organization member
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { name: projectId, in: query, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, properties: { assigneeUserId: { type: [string, 'null'] } } } } } }
      responses: { '200': { description: Assigned feedback }, '400': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}/merge:
    post:
      summary: Merge duplicate feedback into another feedback item
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { name: projectId, in: query, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [targetFeedbackId], properties: { targetFeedbackId: { type: string } } } } } }
      responses: { '200': { description: Merge completed }, '400': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}/reply:
    post:
      summary: Add a public reply or internal note
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string, minLength: 1, maxLength: 10000 }, internal: { type: boolean, default: false } } } } } }
      responses: { '201': { description: Comment created }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/tags:
    get:
      summary: List project feedback tags
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      responses: { '200': { description: Tags } }
    post:
      summary: Create a project feedback tag
      parameters: [{ $ref: '#/components/parameters/ProjectId' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created }, '409': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}/tags:
    get:
      summary: List tags assigned to feedback
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { name: projectId, in: query, required: true, schema: { type: string } }]
      responses: { '200': { description: Feedback tags } }
    post:
      summary: Add a tag to feedback
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { name: projectId, in: query, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [tagId], properties: { tagId: { type: string } } } } } }
      responses: { '201': { description: Added }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}/tags/{tagId}:
    delete:
      summary: Remove a tag from feedback
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { name: tagId, in: path, required: true, schema: { type: string } }, { name: projectId, in: query, required: true, schema: { type: string } }]
      responses: { '204': { description: Removed }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/feedback/{feedbackId}/status:
    post:
      summary: Change feedback status and record history
      parameters: [{ $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [status], properties: { status: { type: string, enum: [new, triaged, planned, in_progress, resolved, closed, spam] } } } } } }
      responses: { '200': { description: Updated feedback }, '404': { $ref: '#/components/responses/Error' } }
components:
  parameters:
    ProjectId: { name: projectId, in: path, required: true, schema: { type: string } }
    DashboardProjectId: { name: projectId, in: query, required: true, schema: { type: string } }
    FeedbackId: { name: feedbackId, in: path, required: true, schema: { type: string, format: uuid } }
    ProjectKey: { name: X-NitroPing-Project-Key, in: header, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: false, schema: { type: string, maxLength: 128 } }
    IfNoneMatch: { name: If-None-Match, in: header, required: false, schema: { type: string } }
    Cursor: { name: cursor, in: query, required: false, schema: { type: string } }
    FeedbackQuery: { name: q, in: query, required: false, schema: { type: string, maxLength: 120 }, description: Search title and body }
    FeedbackStatus: { name: status, in: query, required: false, schema: { type: string, enum: [new, triaged, planned, in_progress, resolved, closed, spam] } }
    FeedbackType: { name: type, in: query, required: false, schema: { type: string, enum: [complaint, bug, suggestion, feature_request] } }
    FeedbackPriority: { name: priority, in: query, required: false, schema: { type: string, enum: [low, normal, high, urgent] } }
    ServerKey: { name: X-NitroPing-Server-Key, in: header, required: true, schema: { type: string } }
  schemas:
    CreateFeedback:
      type: object
      required: [type, title, body]
      properties:
        type: { type: string, enum: [complaint, bug, suggestion, feature_request] }
        categoryId: { type: string, description: Optional project category identifier }
        title: { type: string, minLength: 3, maxLength: 160 }
        body: { type: string, minLength: 3, maxLength: 20000 }
        priority: { type: string, enum: [low, normal, high, urgent] }
        email: { type: string, format: email }
        platform: { type: string, enum: [web, ios, android, other] }
        appVersion: { type: string }
        osVersion: { type: string }
        locale: { type: string }
        metadata: { type: object, additionalProperties: { oneOf: [{ type: string }, { type: number }, { type: boolean }] } }
        turnstileToken: { type: string, maxLength: 2048, description: Optional short-lived Cloudflare Turnstile token; never persisted }
    Feedback:
      allOf:
        - $ref: '#/components/schemas/CreateFeedback'
        - type: object
          required: [id, projectId, status, createdAt, updatedAt]
          properties:
            id: { type: string, format: uuid }
            projectId: { type: string }
            status: { type: string, enum: [new, triaged, planned, in_progress, resolved, closed, spam] }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
  responses:
    Error:
      description: Standard API error
      content: { application/json: { schema: { type: object, required: [error], properties: { error: { type: object, required: [code, message, requestId], properties: { code: { type: string }, message: { type: string }, requestId: { type: string }, details: {} } } } } } }
    FeedbackList:
      description: Paginated feedback
      content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Feedback' } }, nextCursor: { type: string } } } } }
