openapi: 3.1.0
info:
  title: NitroPing API
  version: 0.1.0
  description: Tenant-isolated feedback collection API.
servers:
  - url: https://nitroping.dev/api/v1
security: []
paths:
  /dashboard/organizations:
    get:
      summary: List organizations for the Access identity
      responses: { '200': { description: Organizations }, '401': { $ref: '#/components/responses/Error' }, '503': { $ref: '#/components/responses/Error' } }
    post:
      summary: Create an organization for the Access identity
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created }, '409': { $ref: '#/components/responses/Error' } }
  /dashboard/organizations/{organizationId}/projects:
    post:
      summary: Create a project and issue its initial keys
      parameters: [{ name: organizationId, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string }, slug: { type: string } } } } } }
      responses: { '201': { description: Created with one-time public/server keys }, '403': { $ref: '#/components/responses/Error' } }
  /dashboard/projects:
    get:
      summary: List projects for the Access identity
      responses: { '200': { description: Projects }, '503': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback:
    parameters: [{ $ref: '#/components/parameters/ProjectId' }]
    get:
      summary: List feedback
      parameters: [{ $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/Cursor' }]
      responses: { '200': { $ref: '#/components/responses/FeedbackList' }, '401': { $ref: '#/components/responses/Error' } }
    post:
      summary: Create feedback anonymously
      parameters: [{ $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateFeedback' } } } }
      responses: { '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Feedback' } } } }, '400': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback/{feedbackId}:
    parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }]
    get:
      summary: Get feedback
      parameters: [{ $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Feedback, content: { application/json: { schema: { $ref: '#/components/schemas/Feedback' } } } }, '404': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback/{feedbackId}/comments:
    post:
      summary: Add a public comment
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string, minLength: 1, maxLength: 10000 } } } } } }
      responses: { '201': { description: Created }, '404': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/feedback/{feedbackId}/vote:
    post:
      summary: Vote for feedback
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Vote count } }
  /projects/{projectId}/public/categories:
    get:
      summary: List public categories
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Categories } }
  /projects/{projectId}/public/roadmap:
    get:
      summary: List public roadmap items
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Roadmap } }
  /projects/{projectId}/public/changelog:
    get:
      summary: List published changelog items
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '200': { description: Changelog } }
  /projects/{projectId}/uploads/initiate:
    post:
      summary: Initiate a private attachment upload
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '201': { description: Upload token }, '413': { $ref: '#/components/responses/Error' } }
  /projects/{projectId}/events:
    get:
      summary: Project realtime WebSocket stream
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }]
      responses: { '101': { description: Switching Protocols }, '503': { $ref: '#/components/responses/Error' } }
  /follow-up/{token}:
    get:
      summary: Read feedback status through a scoped magic link
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Feedback and public comments }, '404': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/feedback:
    get:
      summary: List feedback for an authenticated dashboard project
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }, { $ref: '#/components/parameters/Cursor' }]
      responses: { '200': { $ref: '#/components/responses/FeedbackList' }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/export:
    get:
      summary: Export project feedback data
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: JSON export }, '401': { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{projectId}/feedback/{feedbackId}/anonymize:
    post:
      summary: Anonymize feedback and public comments
      parameters: [{ $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/FeedbackId' }, { $ref: '#/components/parameters/ProjectKey' }, { $ref: '#/components/parameters/ServerKey' }]
      responses: { '200': { description: Anonymized }, '404': { $ref: '#/components/responses/Error' } }
components:
  parameters:
    ProjectId: { name: projectId, in: path, required: true, schema: { type: string } }
    FeedbackId: { name: feedbackId, in: path, required: true, schema: { type: string, format: uuid } }
    ProjectKey: { name: X-NitroPing-Project-Key, in: header, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: false, schema: { type: string, maxLength: 128 } }
    Cursor: { name: cursor, in: query, required: false, schema: { type: string } }
    ServerKey: { name: X-NitroPing-Server-Key, in: header, required: true, schema: { type: string } }
  schemas:
    CreateFeedback:
      type: object
      required: [type, title, body]
      properties:
        type: { type: string, enum: [complaint, bug, suggestion, feature_request] }
        title: { type: string, minLength: 3, maxLength: 160 }
        body: { type: string, minLength: 3, maxLength: 20000 }
        priority: { type: string, enum: [low, normal, high, urgent] }
        email: { type: string, format: email }
        platform: { type: string, enum: [web, ios, android, other] }
        appVersion: { type: string }
        osVersion: { type: string }
        locale: { type: string }
        metadata: { type: object, additionalProperties: { oneOf: [{ type: string }, { type: number }, { type: boolean }] } }
    Feedback:
      allOf:
        - $ref: '#/components/schemas/CreateFeedback'
        - type: object
          required: [id, projectId, status, createdAt, updatedAt]
          properties:
            id: { type: string, format: uuid }
            projectId: { type: string }
            status: { type: string, enum: [new, triaged, planned, in_progress, resolved, closed, spam] }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
  responses:
    Error:
      description: Standard API error
      content: { application/json: { schema: { type: object, required: [error], properties: { error: { type: object, required: [code, message, requestId], properties: { code: { type: string }, message: { type: string }, requestId: { type: string }, details: {} } } } } } }
    FeedbackList:
      description: Paginated feedback
      content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Feedback' } }, nextCursor: { type: string } } } } }
