services:
  db:
    image: postgres:18
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5433:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis:8.0.6-alpine
    restart: always
    ports:
      - '6380:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  server:
    profiles: [prod]
    image: ghcr.io/productdevbook/nitroping:latest
    restart: always
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NITRO_HOST: 0.0.0.0
    env_file:
      - .env
    ports:
      - '3412:3412'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  server-dev:
    profiles: [dev]
    container_name: nitro_dev
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    restart: always
    tty: true
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      NITRO_HOST: 0.0.0.0
    env_file:
      - .env
    ports:
      - '3412:3412'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app

volumes:
  db_data:
  redis_data:
