services:
  db:
    image: postgres:18
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5433:5432'
    volumes:
      - db_data:/var/lib/postgresql
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6380:6379'
    volumes:
      - redis_data:/data
  server:
    profiles: [prod]
    image: ghcr.io/productdevbook/nitroping:latest
    restart: always
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NITRO_HOST: 0.0.0.0
    env_file:
      - .env
    ports:
      - '3412:3412'
    depends_on:
      - db
      - redis
  server-dev:
    profiles: [dev]
    container_name: nitro_dev
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    restart: always
    tty: true
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      NITRO_HOST: 0.0.0.0
    env_file:
      - .env
    ports:
      - '3412:3412'
    depends_on:
      - db
      - redis
    volumes:
      - .:/app

volumes:
  db_data:
  redis_data:
